@import 'components/map';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #3288bd;
  color: #000;
}
a:hover {
  text-decoration: underline;
}


