@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}
  
	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}
  
	::-webkit-scrollbar-track {
		background: $background-color;
	}
  
	// For Internet Explorer
	body {
	  scrollbar-face-color: $foreground-color;
	  scrollbar-track-color: $background-color;
	}
  }
  
  @include scrollbars(.5em, slategray);
  
.devise {
	a {
		color: #000;
	}
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	// font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 1% 1%;
	width: 10%;
	max-height: 10%;
	text-align: center
}

.mapContainer {
	position: absolute !important;
	top: 0%;
	right: 0;
	bottom: 0;
	width: 90%;
	background-color:white;

}
.navbar {
	// font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #000;
    position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border: none;
	padding: 1% 1% 0% 1%;
	width: 10%;
	height: 100%;
	min-width: 6rem;
}

.photo_scroller {
	color: #000;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	border: none;
	padding: 0% 1%;
	width: 18%;
}

.mapboxgl-map {
	.mapboxgl-popup {
        .mapboxgl-popup-tip {
            display: none;
		}
		display: none;
		position: absolute;
		left: 50%;
		top: 0;
		position: fixed;
		transform: none !important;
	}
	
}

img {
	margin: 5px 0px;
}

.activity-summary p {
	white-space: nowrap;
	display: inline;
}

button {
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
button:focus {
	outline: none !important;
}
button:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 480px) {
	.photo_scroller {
	  left: 0;
	  right: auto;
	  width: auto;
	  max-width: 50%;
	}
	.activity-summary {
		align-self: flex-start;
	}
  }

