.devise {
	a {
		color: #fff;
	}
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 1% 1%;
	width: 13%;
	text-align: center


}

.mapContainer {
	position: absolute !important;
	top: 0%;
	right: 0;
	bottom: 0;
	width: 85%;
	background-color:white;

}
.navbar {
	font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background-color: #0067cf;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border: none;
	padding: 0% 1%;
	width: 13%;
	height: 100%;
}
.mapboxgl-map {
	.mapboxgl-popup {
        .mapboxgl-popup-tip {
            display: none;
        }
		position: absolute;
		left: 50%;
		top: 0;
		position: fixed;
		transform: none !important;
	}
	
}