<h1>Now, we need your permission to access and display your Strava activities.</h1>
<%= button_to "Authorize Strava", user_strava_omniauth_authorize_path, class: "h-auto bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 border border-gray-400 rounded shadow " %>

