<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%# <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script> %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
